<div class="row item-details">
    <div class="col-md-7 mb-15">
        {% if item.images|length > 1 %}
            <div id="images" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for ctr in 0..(item.images|length)-1 %}
                        <li data-target="#images" data-slide-to="{{ ctr }}"{% if ctr == 0 %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    {% set ctr = 0 %}
                    {% for image in item.images %}
                        <div class="item{% if ctr == 0 %} active{% endif %}">
                            <img src="{{ asset('images/listings/s/'~ image.filename) }}" alt="{{ item.title }}">
                        </div>
                        {% set ctr = 1 %}
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#images" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#images" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% else %}
            {% if item.images|length == 0 %}
                {% set image = 'no-image.jpg' %}
            {% else %}
                {% set image = item.images[0].filename %}
            {% endif %}
            <img src="{{ asset('images/listings/s/'~ image) }}" alt="{{ item.title }}" class="img-responsive">
        {% endif %}
    </div>
    <div class="col-md-5">
        <form action="{{ path('cart_add') }}" method="post">
            <input type="hidden" name="item" value="{{ item.alias }}" />
            <a href="#" onclick="showList()" class="pull-right" data-toggle="tooltip" data-placement="bottom" title="Go to Category list"><i class="fa fa-reply"></i></a>
            <h1 class="header-item">{{ item.title }} <span>{{ item.subtitle }}</span></h1>
            <h2>${{ item.priceSale|number_format(2) }}</h2>
            <hr class="thick" />
            <div class="stock">
            	Please Note: If you require large quantities of this item that may not be available at present, please get in touch so we can make stock available for you.
                <div class="row mt-25">
            	{% if item.inStock > 0 %}
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Qty</span>
                            <input type="number" name="qty" value="1" placeholder="Qty" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Type in quantity to order">
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add to <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><button type="submit">Shopping Cart</button></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                	<div class="col-md-1">
                		<img src="{{ asset('images/icon-notice.png') }}" alt="Notice" />
                	</div>
                	<div class="col-md-11 red">
                		<h4 class="mt-0 normal">Out of Stock</h4>
                		Sorry, this item is temporarily unavailable. <a href="#">Enquire to order your desired quantity here.</a>
                	</div>
                {% endif %}
                </div>
            </div>
        </form>
        <hr class="thick" />
        <div class="conditions">
            {% set soil_moisture = item.category.plantFinder.soilMoisture %}
            {% set soil_type = item.category.plantFinder.soilType %}
            {% set light = item.category.plantFinder.light %}
            {% set wind = item.category.plantFinder.windExposure %}
            {% set height = item.category.plantFinder.plantHeight %}
        	<h3>Ideal Growing Conditions</h3>
        	<div>Soil Moisture:
        		<button class="btn btn-xs btn-{% if soil_moisture == 'Quite Wet' %}green{% else %}gray{% endif %}">Quite Wet</button> 
        		<button class="btn btn-xs btn-{% if soil_moisture == 'Normal' %}green{% else %}gray{% endif %}">Normal</button>
        		<button class="btn btn-xs btn-{% if soil_moisture == 'Quite Dry' %}green{% else %}gray{% endif %}">Quite Dry</button>
    		</div>
        	<div>Soil Type: 
        		<button class="btn btn-xs btn-{% if soil_type == 'Soft/Sandy' %}green{% else %}gray{% endif %}">Soft/Sandy</button> 
        		<button class="btn btn-xs btn-{% if soil_type == 'Normal' %}green{% else %}gray{% endif %}">Normal</button>
        		<button class="btn btn-xs btn-{% if soil_type == 'Hard/Clay' %}green{% else %}gray{% endif %}">Hard/Clay</button>
    		</div>
        	<div>Light: 
        		<button class="btn btn-xs btn-{% if 'Full Shade' in light %}green{% else %}gray{% endif %}">Full Shade</button> 
        		<button class="btn btn-xs btn-{% if 'Part Shade' in light %}green{% else %}gray{% endif %}">Part Shade</button>
        		<button class="btn btn-xs btn-{% if 'Full Sun' in light %}green{% else %}gray{% endif %}">Full Sun</button>
    		</div>
        	<div>Wind/Exposure: 
        		<button class="btn btn-xs btn-{% if 'Sheltered' in wind %}green{% else %}gray{% endif %}">Sheltered</button> 
        		<button class="btn btn-xs btn-{% if 'Part Sheltered' in wind %}green{% else %}gray{% endif %}">Part Sheltered</button>
        		<button class="btn btn-xs btn-{% if 'Exposed' in wind %}green{% else %}gray{% endif %}">Exposed</button>
    		</div>
        	<div>Height: 
        		<button class="btn btn-xs btn-{% if '0-50cm' in height %}green{% else %}gray{% endif %}">0-50cm</button> 
        		<button class="btn btn-xs btn-{% if '50cm-1m' in height %}green{% else %}gray{% endif %}">50cm-1m</button>
        		<button class="btn btn-xs btn-{% if '1m-3m' in height %}green{% else %}gray{% endif %}">1m-3m</button>
        		{% if '3m+' in height %}
        			<button class="btn btn-xs btn-green">{{ item.category.plantFinder.customHeight }}</button>
        		{% else %}
        			<button class="btn btn-xs btn-gray">3m+</button>
        		{% endif %}
    		</div>
    	</div>
	</div>
</div>
<hr />

<script>
    !function(t){"function"==typeof define&&define.amd?define(["jquery"],t):"object"==typeof exports?module.exports=t(require("jquery")):t(jQuery)}(function(t){"use strict";function e(t,e,i){var o;return function(){var n=this,a=arguments,s=function(){o=null,i||t.apply(n,a)},r=i&&!o;clearTimeout(o),o=setTimeout(s,e),r&&t.apply(n,a)}}function i(t){var e=++h;return String(null==t?"rmjs-":t)+e}function o(t){var e=t.clone().css({height:"auto",width:t.width(),maxHeight:"none",overflow:"hidden"}).insertAfter(t),i=e.outerHeight(),o=parseInt(e.css({maxHeight:""}).css("max-height").replace(/[^-\d\.]/g,""),10),n=t.data("defaultHeight");e.remove();var a=o||t.data("collapsedHeight")||n;t.data({expandedHeight:i,maxHeight:o,collapsedHeight:a}).css({maxHeight:"none"})}function n(t){if(!d[t.selector]){var e=" ";t.embedCSS&&""!==t.blockCSS&&(e+=t.selector+" + [data-readmore-toggle], "+t.selector+"[data-readmore]{"+t.blockCSS+"}"),e+=t.selector+"[data-readmore]{transition: height "+t.speed+"ms;overflow: hidden;}",function(t,e){var i=t.createElement("style");i.type="text/css",i.styleSheet?i.styleSheet.cssText=e:i.appendChild(t.createTextNode(e)),t.getElementsByTagName("head")[0].appendChild(i)}(document,e),d[t.selector]=!0}}function a(e,i){this.element=e,this.options=t.extend({},r,i),n(this.options),this._defaults=r,this._name=s,this.init(),window.addEventListener?(window.addEventListener("load",c),window.addEventListener("resize",c)):(window.attachEvent("load",c),window.attachEvent("resize",c))}var s="readmore",r={speed:100,collapsedHeight:200,heightMargin:16,moreLink:'<a href="#">Read More</a>',lessLink:'<a href="#">Close</a>',embedCSS:!0,blockCSS:"display: block; width: 100%;",startOpen:!1,blockProcessed:function(){},beforeToggle:function(){},afterToggle:function(){}},d={},h=0,c=e(function(){t("[data-readmore]").each(function(){var e=t(this),i="true"===e.attr("aria-expanded");o(e),e.css({height:e.data(i?"expandedHeight":"collapsedHeight")})})},100);a.prototype={init:function(){var e=t(this.element);e.data({defaultHeight:this.options.collapsedHeight,heightMargin:this.options.heightMargin}),o(e);var n=e.data("collapsedHeight"),a=e.data("heightMargin");if(e.outerHeight(!0)<=n+a)return this.options.blockProcessed&&"function"==typeof this.options.blockProcessed&&this.options.blockProcessed(e,!1),!0;var s=e.attr("id")||i(),r=this.options.startOpen?this.options.lessLink:this.options.moreLink;e.attr({"data-readmore":"","aria-expanded":this.options.startOpen,id:s}),e.after(t(r).on("click",function(t){return function(i){t.toggle(this,e[0],i)}}(this)).attr({"data-readmore-toggle":s,"aria-controls":s})),this.options.startOpen||e.css({height:n}),this.options.blockProcessed&&"function"==typeof this.options.blockProcessed&&this.options.blockProcessed(e,!0)},toggle:function(e,i,o){o&&o.preventDefault(),e||(e=t('[aria-controls="'+this.element.id+'"]')[0]),i||(i=this.element);var n=t(i),a="",s="",r=!1,d=n.data("collapsedHeight");n.height()<=d?(a=n.data("expandedHeight")+"px",s="lessLink",r=!0):(a=d,s="moreLink"),this.options.beforeToggle&&"function"==typeof this.options.beforeToggle&&this.options.beforeToggle(e,n,!r),n.css({height:a}),n.on("transitionend",function(i){return function(){i.options.afterToggle&&"function"==typeof i.options.afterToggle&&i.options.afterToggle(e,n,r),t(this).attr({"aria-expanded":r}).off("transitionend")}}(this)),t(e).replaceWith(t(this.options[s]).on("click",function(t){return function(e){t.toggle(this,i,e)}}(this)).attr({"data-readmore-toggle":n.attr("id"),"aria-controls":n.attr("id")}))},destroy:function(){t(this.element).each(function(){var e=t(this);e.attr({"data-readmore":null,"aria-expanded":null}).css({maxHeight:"",height:""}).next("[data-readmore-toggle]").remove(),e.removeData()})}},t.fn.readmore=function(e){var i=arguments,o=this.selector;return e=e||{},"object"==typeof e?this.each(function(){if(t.data(this,"plugin_"+s)){var i=t.data(this,"plugin_"+s);i.destroy.apply(i)}e.selector=o,t.data(this,"plugin_"+s,new a(this,e))}):"string"==typeof e&&"_"!==e[0]&&"init"!==e?this.each(function(){var o=t.data(this,"plugin_"+s);o instanceof a&&"function"==typeof o[e]&&o[e].apply(o,Array.prototype.slice.call(i,1))}):void 0}});
    $('#description').readmore({
        speed: 75,
        collapsedHeight: 150,
        moreLink: '<a href="#><i class="fa fa-plus-square fa-fw"></i> Read more</a>',
        lessLink: '<a href="#"><i class="fa fa-minus-square fa-fw"></i> Close</a>'
    });
    $('#images').carousel({
        interval: 3000
    }).on('slide.bs.carousel', function (e) {
        var nextH = $(e.relatedTarget).height();
        $(this).find('.active.item').parent().animate({ height: nextH }, 500);
    });
    $('#breadcrumb_item').html(' <i class="fa fa-angle-left fa-fw"></i> {{ item.title }}').fadeIn();
    $('[data-toggle="tooltip"]').tooltip();
</script>
