{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'admin_base.html.twig' %}
{% block body %}
    <div><a href="{{ path('admin_content_category') }}" class="btn btn-primary">View All</a></div>
    <br />
    {{ form_start(form) }}
    {{ form_errors(form) }}
<div class="animated fadeInUp row">
    <div class="col-md-6">
    <fieldset class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_widget(form.save) }}
        {{ form_widget(form.saveAndAdd) }}
    </fieldset>
    </div>
</div>
    {{ form_end(form) }}

{% endblock %}
