{% extends 'admin_base.html.twig' %}
{% block body %}
    <form method="post" name="delete">
    <div><input type="submit" name="submit" class="btn btn-primary" value="Delete"></div>
    <br />
    <div class="clear-fix"></div>
        <table class="table table-bordered table-hover table-responsive mt-10">
            <thead>
            <tr>
                <th width="30"><input type="checkbox" id="checkAll"></th>
                <th><a href="?sort=title{% if app.request.query.get('sort') == 'fname' %}&order={% if app.request.query.get('order') == 'desc' %}asc{% else %}desc{% endif %}{% endif %}">Name</a></th>
                <th><a href="?sort=title{% if app.request.query.get('sort') == 'email' %}&order={% if app.request.query.get('order') == 'desc' %}asc{% else %}desc{% endif %}{% endif %}">Email</a></th>
                <th><a href="?sort=title{% if app.request.query.get('sort') == 'date_subscribed' %}&order={% if app.request.query.get('order') == 'desc' %}asc{% else %}desc{% endif %}{% endif %}">Date Subscribed</a></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><input type="checkbox" name="delete[{{ item.id }}]" value="{{ item.id }}"></td>
                    <td>{{ item.fname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.dateSubscribed|date("j F Y H:i:s")  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("#checkAll").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
    </script>
{% endblock %}

